<p>
  <%= f.label :term %>
  <%= f.text_field :term %>
</p>
<p>
  <%= f.label :definition %>
  <%= f.text_area :definition %>
</p>
<p>
  <%= f.check_box :common, :class => :left  %>	
  <%= f.label :common %>
</p>