<h1>Listing CMS Pages</h1>
<p><%= link_to 'New CMS Page', new_admin_cms_page_path %></p>

<table>
  <tr>
    <th>Reference String</th>
    <th>Title</th>
    <th>Sub title</th>
    <th>Body</th>
    <th>Meta keyword</th>
    <th>Meta description</th>
    <th>Position</th>
    <th>Parent</th>
  </tr>

<% @cms_pages.each do |cms_page| %>
  <tr class="<%= cycle "odd", "even" %>">
    <td><%=h cms_page.reference_string %></td>
    <td><%=h cms_page.title %></td>
    <td><%=h cms_page.sub_title %></td>
    <td><%=h cms_page.body %></td>
    <td><%=h cms_page.meta_keyword %></td>
    <td><%=h cms_page.meta_description %></td>
    <td><%=h cms_page.position %></td>
    <td><%=h cms_page.parent_id %></td>
    <td><%= link_to 'Show', admin_cms_page_path(cms_page) %></td>
    <td><%= link_to 'Edit', edit_admin_cms_page_path(cms_page) %></td>
    <td><%= link_to 'Destroy', admin_cms_page_path(cms_page), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

