<p><%= link_to 'Edit', edit_admin_cms_page_path(@cms_page) %> | <%= link_to 'Back', admin_cms_pages_path %></p>
<h1><%= @cms_page.title %></h1>
<%- if !@cms_page.sub_title.blank? -%><h2><%= link_to_unless @cms_page.sub_title_url.blank?, textilize(@cms_page.sub_title), @cms_page.sub_title_url %></h2><%- end -%>
<%=textilize @cms_page.body -%>