<h1>Editing post</h1>

<% form_for(['admin', @post]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "post_fields", :locals => { :f => f } %>
    <%= f.submit 'Update' %>
  
<% end %>

<%= link_to 'Show', ['admin', @post] %> |
<%= link_to 'Back', admin_posts_path %>

