<h1>Employment History</h1>
<% div_for employer, :class => 'content-section employer' do %>
<h2><%=h employer.company_name %></h2>
<p><em><%= employer.from_date.to_s(:employer) %> - <%= employer.until_date.to_s(:employer) %></em></p>
<h3><%=h employer.title %></h3>
<%=textilize employer.description %>
<% end %>