<p>
  <b>Name:</b>
  <%=h @config_value.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @config_value.value %>
</p>

<p>
  <b>Position:</b>
  <%=h @config_value.position %>
</p>

<p>
  <b>Sys var:</b>
  <%=h @config_value.sys_var %>
</p>


<%= link_to 'Edit', edit_admin_config_value_path(@config_value) %> |
<%= link_to 'Back', admin_config_values_path %>

