<div id="side-bar">
	<div class="content-section">
		<h3><%= link_to "First Time?", glossary_terms_path %></h3>
		<p><%= link_to "Click here for some basic info", glossary_terms_path %> about web sites and what it takes to build one.</p>
	</div>
	<div class="content-section">
		<%= link_to image_tag("ror.gif"), '/' %>
		<h3>Ruby On Rails</h3>
		<p>RoR / *NIX is my preferred development platform.</p>
	</div>
	<div class="content-section">
		<%= link_to image_tag("pcgi.gif"), '/' %>
		<h3>PCGI Member</h3>
		<p>...and I built and maintain the <%= link_to "PCGI.it" %> web site.</p>
	</div>
	<div class="content-section">
		<h3><%= link_to "Railsnstuff.com" %></h3>
		<p>My blog about Ruby On Rails tricks and other stuff i have learned along the way.</p>
	</div>
</div> <!-- side-bar -->