<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%= page_title %></title>
	<%= javascript_include_tag 'jquery', 'jquery.autocomplete','application' %>
	<%= stylesheet_link_tag 'reset', 'layout', 'typography', 'content', 'nav', 'tables', 'forms', 'autocomplete', 'admin' %>
</head>

<body id="admin">
	<div id="wrapper">
		<div id="branding">
			<div id="contact-info">
				<h1>Admin Area</h1>
				<p><%= link_to "Public Side", root_path %></p>
			</div>
			<%= link_to image_tag("logo.gif"), root_path, :id => :logo %>

		</div> <!-- branding -->

		<div id="nav-main" class="nav">
			<div id="nav-admin">
				<ul>
					<%= main_nav %>
				</ul>
			</div> <!-- nav-admin -->

		</div>
		<div id="canvas">
		
			<div id="content">

				<h1><%= @cms_page.title %></h1>
				<%= textilize @cms_page.sub_title -%>

				<div id="content-main">
					<%= flash_block %>
					<%= yield %>
				</div> <!-- content-main -->
				

			</div> <!-- content -->

		</div> <!-- canvas -->

		<div id="push"></div> <!-- needed for footer placement -->

	</div> <!-- wrapper -->

	<div id="footer">
		<p>all content &copy; copyright <%= Date.today.year %> dinshaw design &amp; development. all rights reserved. <%= link_to "CSS 2.1" %> | <%= link_to "XHTML 1.0 Strict" %> | <%= logged_in? ? link_to("Logout", logout_path) : link_to("Login", login_path)%></p>
	</div> <!-- footer -->

</body>
</html>