<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%= page_title %></title>
	<%= javascript_include_tag 'jquery', 'jquery.autocomplete', 'application' %>
	<%= stylesheet_link_tag 'reset', 'layout', 'typography', 'content', 'nav', 'tables', 'forms', 'autocomplete' %>
</head>

<body>
	<div id="wrapper">
		<div id="branding">
			<div id="contact-info">
				<ul>
					<li>646.239.8325 <%= mail_to "info@dinshawdesign.com" %></li>
					<li>dinshawg (Skype) gobyrock (AIM)</li>
				</ul>
			</div>
			<%= link_to image_tag("logo.gif"), root_path, :id => :logo %>

		</div> <!-- branding -->

		<div id="nav-main" class="nav">
			<ul>
				<li class="first"><%= link_to "Home", root_path %></li>
				<li><%= link_to "Projects", "/projects"%></li>
				<li><%= link_to "Bio &amp; Resume", "/clients"%></li>			
				<li><%= link_to "Process", "/projects"%></li>							
				<li><%= link_to "Enterprise", "/projects"%></li>										
				<li class="last"><%= link_to "pcgi.it", 'http://pcgi.it' %></li>
			</ul>
		</div> <!-- nav-main -->
		<!-- <div id="nav-sub" class="nav">
			<ul>
				<li class="first"><%= link_to "Free Consultation", root_path %></li>
				<li class="current"><%= link_to "Discovery Phase", "/projects"%></li>														
				<li><%= link_to "Design", "/projects"%></li>
				<li><%= link_to "Development", "/clients"%></li>			
				<li class="last"><%= link_to "QA", "/projects"%></li>							
			</ul>
		</div> --> <!-- nav-main -->

		<div id="canvas">
		
			<div id="content">

				<h1><%= @cms_page.title %></h1>
				<%- if !@cms_page.sub_title.blank? -%><h2><%= @cms_page.sub_title %></h2><%- end -%>
				<%=textilize @cms_page.body -%>

				<div id="content-main">
					<%= yield %>
				</div> <!-- content-main -->
				
				<%= render :partial => "layouts/side_bar" %>

			</div> <!-- content -->

		</div> <!-- canvas -->

		<div id="push"></div> <!-- needed for footer placement -->

	</div> <!-- wrapper -->

	<div id="footer">
		<p>all content &copy; copyright <%= Date.today.year %> dinshaw design &amp; development. all rights reserved. <%= link_to "CSS 2.1" %> | <%= link_to "XHTML 1.0 STRICT" %></p>
	</div> <!-- footer -->

</body>
</html>