<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%= page_title %></title>
	<%= javascript_include_tag 'jquery', 'jquery.autocomplete', 'application' %>
	<%= stylesheet_link_tag 'reset', 'layout', 'typography', 'content', 'nav', 'tables', 'forms', 'autocomplete' %>
</head>

<body id="ddd">
	<div id="wrapper">
		<div id="branding">
			<div id="contact-info">
				<ul>
					<li>646.239.8325 <%= mail_to "info@dinshawdesign.com" %></li>
					<li>dinshawg (Skype) gobyrock (AIM)</li>
					<%- if logged_in? && current_user.has_role?('superuser') -%>
					<li><%= link_to "Admin Area", admin_cms_pages_path %></li>
					<%- end -%>
				</ul>
			</div>
			<%= link_to image_tag("logo.gif"), root_path, :id => :logo %>

		</div> <!-- branding -->

		<div id="nav-main" class="nav">
			<ul>
				<%= main_nav %>
			</ul>
		</div> <!-- nav-main -->
		<%- if @process_nav_items -%>
		<div id="nav-sub" class="nav">
					<ul>
						<%= main_nav(@process_nav_items) %>
					</ul>
				</div> <!-- nav-main -->
		<%- end -%>
		<div id="canvas">
		
			<div id="content">

				<h1><%= @cms_page.title %></h1>
				<%= textilize @cms_page.sub_title -%>

				<div id="content-main">
					<%=dddt @cms_page.body -%>
					<%= yield %>
				</div> <!-- content-main -->
				
				<%= render :partial => "layouts/side_bar" %>

			</div> <!-- content -->

		</div> <!-- canvas -->

		<div id="push"></div> <!-- needed for footer placement -->

	</div> <!-- wrapper -->

	<div id="footer">
		<p>all content &copy; copyright <%= Date.today.year %> dinshaw design &amp; development. all rights reserved. <%= link_to "CSS 2.1" %> | <%= link_to "XHTML 1.0 Strict" %> | <%= link_to "Login", login_path %></p>
	</div> <!-- footer -->

</body>
</html>